@tailwind base;
@tailwind components;
@tailwind utilities;

$shrift: ubuntu;

* {
	font-family: Ubuntu, "Roboto Light", sans-serif, Ariala;
	scroll-behavior: smooth;
}

.fm {
	padding-top: 30px;
	padding-bottom: 30px;

	transition: 0.15s ease-in-out;
}

.fm:hover {
	margin-top: -10px;
}

.header__block {
	display: grid;
	align-items: center;

	height: 110px;
	padding-right: 60px;
	padding-left: 60px;

	color: white;
	background-color: #051B26;

	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	grid-template-columns: repeat(12, 1fr);
	gap: 1.3%;

	&__a {
		grid-column: 1/2;
	}
}

.header__block__container {
	display: block;

	img {
		width: 55px;
		height: 60px;
		margin: auto;
	}

	div {
		display: inline;

		white-space: nowrap;

		color: #B78A61;
	}
}

.nav__link {
	display: flex;
	align-items: center;
	flex-direction: row;

	color: rgb(210 204 204 / 81%);
	grid-column: 2/12;
	gap: 1.94%;

	&__container {
		display: flex;
		align-items: center;
		flex-direction: row;

		margin-right: auto;
		margin-left: auto;
		gap: 28px;
	}
}

.icon {
	width: 24px;
	height: 24px;
}

.burger {
	position: absolute;
	left: 5%;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 30px;
	height: 30px;

	transition: 0.5s;

	border-radius: 50%;

	&:hover {
		background-color: #898686;

		div {
			background-color: #FFF;
		}
	}

	div {
		width: 50%;
		height: 2px;
		margin-top: 2px;

		transition: 0.5s;

		border-radius: 1px;
		background-color: #B78A61;
	}
}

.menu {
	padding: 20px;

	&__button {
		margin-top: 10px;

		transition: 0.5s;
	}
}

.cards {
	margin-bottom: 60px;

	color: #FFF;

	&__grid {
		display: grid;

		margin-top: 60px;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 20px;
	}

	&__img {
		width: 100%;

		border-radius: 6px;
	}

	&__description {
		margin-top: 8px;

		font-size: 26px;
		font-weight: 700;
	}

	&__box {
		display: flex;
		justify-content: space-between;
	}

	&__place {
		margin-top: 10px;

		font-size: 20px;
		font-weight: 300;
	}

	&__down {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		width: 114px;
		height: 39px;
		margin-top: 67px;

		border-radius: 6px;
		background-color: #B78A61;

		font-size: 18px;
		font-weight: 400;
		line-height: 27px;

		&__inBasket {
			align-items: center;

			margin-top: 67px;

			white-space: nowrap;

			font-size: 20px;
			font-weight: 700;
		}
	}
}

.header__burger {
	left: 24px;

	width: 26px;
	height: 12px;
	margin-right: 8px;

	div {
		height: 2px;

		background-color: #B78A61;

		&:not(:first-child) {
			margin-top: 6px;
		}
	}
}

.carousel {
	display: grid;

	padding-top: 40px;

	color: #FFF;
	gap: 20px;

	&__grid {
		padding-right: 60px;
		padding-left: 60px;

		background-color: #051B26;
	}

	&__button {
		text-align: left;

		font-size: 40px;
		font-weight: 500;

		&__category {
			transition: 0.3s;

			color: #4B5563;

			&:focus {
				color: #FFF;
			}
		}
	}

	&__show {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		transition: 0.3s;

		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		grid-column: 1/4;
		column-gap: 30px;
		row-gap: 14px;
		grid-row-start: 2;

		&:focus {
			color: white;
		}
	}
}

.burger__menu {
	position: absolute;

	width: 180px;
	height: 120%;

	color: white;
	background-color: #051B26;

	&__close {
		display: flex;
		flex-direction: column;

		width: 18px;
		height: 18px;
		margin-left: 24px;
		padding-top: 51px;

		div {
			width: 22.63px;
			height: 2px;

			background-color: #B78A61;
		}

		&:first-child {
			transform: rotateZ(45deg);
		}

		&:last-child {
			transform: rotateZ(-45deg);
		}
	}
}

.welcome__page {
	display: flex;
	flex-direction: column;

	height: 100vh;
	padding-right: 60px;
	padding-left: 60px;

	color: white;
	grid-template-columns: repeat(12, 1fr);

	&__header {
		padding-top: 150px;

		font-size: 64px;
		font-weight: 700;
		line-height: 84px;
		grid-column: 1/8;
	}
}

.fishfish {
	display: grid;

	padding: 60px;

	color: white;
	background: #051B26;

	font-weight: 500;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;

	&__header {
		font-size: 40px;
		font-weight: 500;
		grid-area: 1/1/2/7;
	}

	&__text {
		font-size: 24px;
		font-weight: 300;
		line-height: 31px;
		grid-area: 2/2/3/7;
	}

	&__img {
		grid-area: 1/8/3/13;
	}
}

@media screen and (max-width: 1140px) {
	.nav__link {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	.telephone {
		position: absolute;
		right: 60px;

		align-items: center;

		color: rgb(210 204 204 / 81%);
	}
}

@media screen and (max-width: 768px) {
	.telephone {
		position: absolute;
		right: 24px;

		align-items: center;

		color: rgb(210 204 204 / 81%);
	}

	.nav__link {
		font-size: 12px;
	}

	.carousel {
		&__grid {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	.carousel__show {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin-left: 0;

		font-size: 16px;
		font-weight: 400;
	}

	.header__block {
		display: grid;

		height: 137px;
		padding-right: 20px;
		padding-left: 20px;

		color: #B78A61;
		grid-template-columns: repeat(12, 1fr);
		gap: 10px;
	}

	.header__left {
		display: flex;
		align-items: center;
		flex-direction: row;
		grid-column: 1/6;
	}

	.cards {
		&__grid {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 10px;
		}

		&__description {
			font-size: 16px;
		}

		&__place {
			font-size: 16px;
		}
	}

	.cards__button__inBasket__btn {
		font-size: 16px;
	}

	.logo__mobile {
		display: block;

		width: auto;
		height: 66px;
		grid-column-start: 1;

		img {
			width: 48px;
			height: 44px;
			margin: auto;
		}

		div {
			font-size: 14px;
			font-weight: 400;
		}
	}

	.icon__container {
		display: flex;
		justify-content: right;
		grid-column: 9/13;
	}

	.icon__mobile {
		filter: invert(100%);

		margin-left: 35px;

		button {
			width: 5%;
			height: 5%;
		}
	}

	.welcome__page {
		padding-right: 26px;
		padding-left: 26px;

		&__header {
			padding-top: 39px;

			font-size: 24px;
			font-weight: 500;
			line-height: 36px;
		}
	}

	.carousel__button__category {
		line-height: 1;
	}

	.fishfish {
		display: flex;
		flex-direction: column;

		padding: 0 24px 24px;

		&__header {
			font-size: 24px;
			font-weight: 500;
			line-height: 36px;
		}

		&__img {
			display: block;

			width: 100%;
			margin-top: 30px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__text {
			margin-top: 30px;

			text-align: center;

			font-size: 18px;
			font-weight: 400;
			line-height: 27px;
		}
	}
}



@media screen and (max-width: 500px) {
	.cards {
		&__grid {
			grid-template-columns: minmax(0, 1fr);
		}
	}

	.telephone {
		position: absolute;
		right: 24px;

		color: rgb(210 204 204 / 81%);
	}

	.carousel__show {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin-left: 0;

		font-size: 16px;
		font-weight: 400;
	}
}
