@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: Ubuntu;
}

.fm {
    transition: .15s ease-in-out;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fm:hover {
    margin-top: -10px;
}