@tailwind base;
@tailwind components;
@tailwind utilities;
$shrift: Ubuntu;

* {
  font-family: Ubuntu, "Roboto Light", sans-serif, Ariala;
}

.fm {
  transition: .15s ease-in-out;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fm:hover {
  margin-top: -10px;
}

.header__block {
  background-color: #051B26;
  padding-left: 60px;
  padding-right: 60px;
  height: 110px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 1.3%;
  color: white;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;

  &__a {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}


.header__block__container {

  img {
    width: 55px;
    height: 60px;
    margin-left: 6.4%;
  }

  div {
    color: #B78A61;
    display: inline;
    white-space: nowrap;
  }
}

.nav__link {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.94%;

}

.icon {
  width: 24px;
  height: 24px;
}

.burger {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: .5s;
  border-radius: 50%;

  &:hover {
    background-color: #898686;

    div {
      background-color: #fff;
    }
  }

  div {
    width: 50%;
    height: 2px;
    background-color: #B78A61;
    border-radius: 1px;
    margin-top: 2px;
    transition: .5s;
  }
}

.burger__menu {
  background-color: #051B26;
  width: 25%;
  font-size: 14px;

  &__mobile {
    width: 25%;
  }
}

.menu {
  padding: 20px;

  &__button {
    margin-top: 10px;
    transition: .5s;

  }
}

@media screen and (max-width: 1140px) {
  .nav__link {
    font-size: 16px;
  }

}

@media screen and (max-width: 768px) {
  .nav__link {
    font-size: 12px;
  }
  .header__block {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;

    &__container {
      margin-left: 34%;

      img {
        margin-left: 10%;
      }
    }
  }
}


